<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ classifier_code }} ({{ type_code }})</title>
</head>
<body>
    <h1>{{ classifier_code }} ({{ type_code }})</h1>
    <p>Name: {{ name }}</p>
    <p>Description: {{ description}}</p>
    <h2>Child classifiers</h2>
    <ul>
    {% for group in related|groupby(0) %}
        <li>
            {{ group.grouper }}:
            {% for _, related_type_code, related_classifier_code, description, weight in group.list%}
                    <a href="/{{ related_type_code|urlencode }}/{{ related_classifier_code|urlencode }}">{{ related_classifier_code }}</a>
            {% endfor %}
        </li>
    {% endfor %}
    </ul>

    <h2>Parent classifiers</h2>
    <ul>
        {% for relationship_type_code, related_type_code, related_classifier_code, description, weight in parents %}
        <li>
            <a href="/{{ related_type_code|urlencode }}/{{ related_classifier_code|urlencode }}">{{ related_classifier_code }}</a>
            {{ relationship_type_code }} {{ classifier_code }}
        </li>
        {% endfor %}
    </ul>

</body>
</html>