<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="static/style.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="static/script.js"></script>
</head>
<body>
  <div class="container-fluid" id="root">
    <div class="row">
      <div class="col">
        <h1 class="display-1">Classify</h1>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <hr />
      </div>
    </div>
    <div class="row">
      <div class="col-2" style="border-right: solid #ddd 1px;">
        <button type="button" class="btn btn-outline-primary btn-sm float-right" onclick='$("#addTypeModal").modal("show")'>Add type...</button>
        <!--<button type="button" class="btn btn-outline-primary btn-sm float-right" onclick='$("#addRelationshipTypeModal").modal("show")'>Add relationship type...</button>-->
        <h3>Types</h3>
        <ul>
          <li v-for="type in types"
              :key="type.code"
              :class="{active: type.code == selectedTypeCode}"
              @click="onNavigate(type.code, null)">
            {{ type.name }}
          </li>
        </ul>
      </div>
      <div class="col-2" style="border-right: solid #ddd 1px;">
        <button type="button" class="btn btn-outline-primary btn-sm float-right" onclick='$("#addClassifierModal").modal("show")'>Add classifier...</button>
        <h3>Classifiers</h3>
        <ul v-if="selectedType">
          <li v-for="classifier in selectedType.members"
              :class="{active: classifier.code == selectedClassifierCode}"
              :key="classifier.code"
              @click="onNavigate(selectedTypeCode, classifier.code)">
            {{ classifier.name }}
          </li>
        </ul>
      </div>
      <div class="col-8">
        <div class="row" v-if="selectedType" @change="saveType">
          <div class="col">
            <div class="float-right">
              <button type="button" class="btn btn-outline-danger btn-sm" @click='deleteType'>Delete type...</button>
              <button type="button" class="btn btn-outline-primary btn-sm" onclick='$("#editTypeModal").modal("show")'>Edit type...</button>
            </div>
            <h1>{{ selectedType.name }}</h1>
            <p><i>Code:</i> {{ selectedType.code }}</p>
            <p><i>Description:</i> {{ selectedType.description || "None" }}</p>
            <!--<p>Last updated on: {{ selectedType.updatedOn }}</p>-->
          </div>
        </div>

        <div class="modal fade" id="editTypeModal" role="dialog">
          <div class="modal-dialog" v-if="selectedType">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title">Edit type {{ selectedType.name }}</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>
              <div class="modal-body">
                <p><i>Code:</i> {{ selectedType.code }}</p>
                <form>
                  <div class="form-group">
                    <label>Type name</label>
                    <input type="text" class="form-control" placeholder="Name" v-model="selectedType.name">
                  </div>
                  <div class="form-group">
                    <label>Description</label>
                    <input type="text" class="form-control" placeholder="Description" v-model="selectedType.description">
                  </div>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" @click="saveType">Save</button>
              </div>
            </div>
          </div>
        </div>

        <hr />

        <div class="row" v-if="selectedClassifier">
          <div class="col">
            <div class="float-right">
              <button type="button" class="btn btn-outline-danger btn-sm" @click='deleteClassifier'>Delete classifier...</button>
              <button type="button" class="btn btn-outline-primary btn-sm" onclick='$("#editClassifierModal").modal("show")'>Edit classifier...</button>
              <button type="button" class="btn btn-outline-primary btn-sm" onclick='$("#addRelationshipModal").modal("show")'>Add related classifier...</button>
            </div>
            <h2>
              {{ selectedClassifier.name }}
            </h2>
            <p><i>Code:</i> {{ selectedClassifier.code }}</p>
            <p><i>Description:</i> {{ selectedClassifier.description || "None" }}</p>

            <h3>Related Classifiers</h3>
            <ul>
              <li v-for="relationship in selectedClassifier.relationships.filter(r => !r.isInbound)">
                <b>{{ relationship.relationshipTypeCode }}</b>:
                <a :href="'#' + relationship.relatedClassifier.typeCode + '/' + relationship.relatedClassifier.code ">
                  {{ relationship.relatedClassifier.typeCode }}.{{ relationship.relatedClassifier.code }}
                </a>
                <span v-if="relationship.weight != 100.0">({{ relationship.weight }})</span>
                <span @click="deleteRelationship(relationship)">[x]</span>
              </li>
            </ul>


            <h3>Related Classifiers (inbound)</h3>
            <ul>
              <li v-for="relationship in selectedClassifier.relationships.filter(r => r.isInbound)">
                <b>is {{ relationship.relationshipTypeCode }} of</b>:
                <a :href="'#' + relationship.classifier.typeCode + '/' + relationship.classifier.code ">
                  {{ relationship.classifier.typeCode }}.{{ relationship.classifier.code }}
                </a>
                <span v-if="relationship.weight != 100.0">({{ relationship.weight }})</span>
                <span @click="deleteRelationship(relationship)">[x]</span>
              </li>
            </ul>

          </div>
        </div>

        <div class="modal fade" id="editClassifierModal" role="dialog">
          <div class="modal-dialog" v-if="selectedClassifier">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title">Edit type {{ selectedClassifier.name }}</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>
              <div class="modal-body">
                <p>Code: {{ selectedClassifier.code }}</p>
                <form>
                  <div class="form-group">
                    <label>Classifier name</label>
                    <input type="text" class="form-control" placeholder="Name" v-model="selectedClassifier.name">
                  </div>
                  <div class="form-group">
                    <label>Description</label>
                    <input type="text" class="form-control" placeholder="Description" v-model="selectedClassifier.description">
                  </div>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" @click="saveClassifier">Save</button>
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>

    <!-- Add classifier model -->
    <new-classifier id="addTypeModal"
                    title="New classifier type"
                    :classifier="newType"
                    @save="createType"></new-classifier>

    <new-classifier id="addClassifierModal"
                    title="New classifier"
                    :classifier="newClassifier"
                    @save="createClassifier"></new-classifier>
    <!--
    <new-classifier id="addRelationshipTypeModal"
                    title="New relationship type"
                    :classifier="newRelationshipType"
                    @save="createRelationshipType"></new-classifier>
    -->
    <!-- Modal "add relationship" dialog -->
    <div class="modal fade" id="addRelationshipModal" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">New relationship <span class="currentTypeCode"></span> <span class="currentTypeName"></span></h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                <label for="selectRelationshipType">Select relationship type</label>
                <select class="form-control" id="selectRelationshipType" v-model="newRelationship.relationshipTypeCode">
                  <option v-for="rtype in relationshipTypes" :value="rtype">{{ rtype }}</option>
                </select>
              </div>

              <div class="form-group">
                <label for="selectType">Select type</label>
                <select class="form-control" id="selectType" v-model="newRelationship.relatedClassifier.typeCode">
                  <option v-for="type in types" :value="type.code">{{ type.name }}</option>
                </select>
              </div>

              <div class="form-group">
                <label for="selectClassifier">Select classifier</label>
                <select class="form-control" id="selectClassifier" v-model="newRelationship.relatedClassifier.code">
                  <option v-for="classifier in relatedClassifiers" :value="classifier.code">{{ classifier.name }}</option>
                </select>
              </div>

              <div class="form-group">
                <label for="weight">Relationship weight</label>
                <input class="form-control" id="weight" v-model="newRelationship.weight" />
              </div>

            </form>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" @click="createRelationship">Save</button>
          </div>

        </div>
      </div>
    </div>
  </div>
</body>
</html>
